<p style="text-align: center;">
##	<a href="${drilldownLink}" target="_blank">
	<span class="clickable" title="Sonar" href="${sonarLink}"> 
##  <ac:macro ac:name="clickable">
##    <ac:parameter ac:name="link">${drilldownLink}</ac:parameter>
##    <ac:parameter ac:name="atlassian-macro-output-type">INLINE</ac:parameter>
##    <ac:rich-text-body>
      #if ( ${showDetails} )
		  <span style="font-size: x-small;">
		  	${lastRunWhen} (${lastRunDuration})<br/>
		  </span>
      #end
      <ac:macro ac:name="status">
        <ac:parameter ac:name="colour">${color}</ac:parameter>
        <ac:parameter ac:name="title">${label}</ac:parameter>
      </ac:macro>
      #if ( ${showDetails} )
		  <br/>
		  <span style="font-size: x-small;">
		  	${testSuccessCount}/${testCount} tests (${testSuccessDensity})
		  </span>
      #end
##    </ac:rich-text-body>
##  </ac:macro>
	</span>
</p>
