#requireResource("com.baloise.confluence.dashboard-plus:dashboard-plus-resources")
<div class="statuslight">
	<a style="color: black; text-decoration: none;" href="${hyperlink}" target="_blank" title="Drilldown">
##	<span class="clickable" href="${hyperlink}" title="Drilldown"> 
		  <span style="font-size: x-small;">
		      #if ( ${showDetails} )
				  	${lastRunWhen} [${lastRunDuration}]
		      #end
		      <br/>
		  </span>
	      <ac:macro ac:name="status">
	        <ac:parameter ac:name="colour">${color}</ac:parameter>
	        <ac:parameter ac:name="title">${label}</ac:parameter>
	      </ac:macro>
		  <br/>
	      #if ( ${showDetails} )
			  <span style="font-size: x-small;">${testInfo}</span>
	      #end
##	</span>
	</a>
</div>