$webResourceManager.requireResource("com.baloise.confluence.dashboard-plus:dplus-config-resources")
#requireResource("com.baloise.confluence.dashboard-plus:dplus-config-resources")
<meta name="decorator" content="atl.admin">
<html>
  <head>
    <title>Dashboard+ Configuration</title>
  </head>
  <body>
	<form id="dplus-config">
	   <div class="field-group">
	     <label for="globalJiraEvalSpec">Global Jira Eval Specification</label>
	     <textarea id="globalJiraEvalSpec" name="globalJiraEvalSpec" class="text" style="width: 100%; height: 500px" rows="3000"></textarea>
	   </div>
	   <div class="field-group">
	     <input type="submit" value="Save" class="button">
	   </div>
	</form>
  </body>
</html>