#requireResource("com.baloise.confluence.dashboard-plus:dashboard-plus-resources")
<div class="dplus-text">
	<a style="text-decoration: none; color: black;" href="${hyperlinkURL}" target="${hyperlinkTarget}"
		#if ( ! ${showDetails} || ${showFailedTestDetailsAsTooltip} )
title="
			#if ( ! ${showDetails} )
${lastRunWhen} [${lastRunDuration}]
${testInfo}

			#end
			#if ( ${showFailedTestDetailsAsTooltip} )
${testDetails}
			#end
"
		#end
>
	## CSS style required here because it seems CSS class has no precendence over the Confluence CSS class applied on external link!
	      #if ( ${showDetails} )
			  <span class="dplus-text">
			      ${lastRunWhen} [${lastRunDuration}]
			      <br/>
			  </span>
	      #end
	      <span class="dplus dplus-light ${color.getCSSClass($applyOutline)}">${label}</span>
	      #if ( ${showDetails} )
			  <span class="dplus-text">
				  <br/>
				  ${testInfo}
			  </span>
	      #end
	</a>
</div>